<!--Create registration page in html with username, email and phone number and by using POST method display it in next html page.-->
<html>
    <head>
        <title>registration page</title>
    </head>
    <body>
        <form action="http://127.0.0.1:5000/success" method="POST">
            <fieldset>
             <legend>Personalia:</legend>
             <label for="usname">Username:</label>
             <input type="text" name="Username"><br><br>
             <label for="email">Email:</label>
             <input type="email" name="Email"><br><br>
             <label for="phnumber">Phone Number:</label>
             <input type="text"name="Phone_Number"><br><br>
             <input type="submit" value="Submit">
            </fieldset>
           </form>
    </body>
</html>